*{ /*---please remain empty--*/ }
body{
  width: 100%;
}
img, video, table, audio {
  width:%100; 
  max-width:100%;
}

/*--Abdulrahman Start--*/
/*--Abdulrahman End--*/

/*--Burak Start--*/
/*--Burak End--*/

/*--Mustafa Start--*/
/*--Mustafa End--*/

/*--Oktay Start--*/
/*--Oktay End--*/

@media only screen and (max-width: 800px){

}
