/* Added by @adlogi to get the right fonts */
@import url(http://fonts.googleapis.com/css?family=Merienda+One);
@import url(
  http://fonts.googleapis.com/css?family=Playfair+Display:400,
  400italic
);

/* Added by @adlogi to use border-box model */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* * {
  please remain empty
}*/

body {
  width: 100%;
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}

img,
video,
table,
audio {
  width: 100%;
  max-width: 100%;
}

/*--Abdulrahman Start--*/

.wrapper {
  width: 85%;
  margin: 0 auto;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

#logo h1 {
  float: left;
  margin: 0em;
  font-size: 28px;
}

#logo:link {
  font-family: "Merienda One", cursive;
  font-size: 28px;
  font-weight: 600;
  line-height: 80px;
  color: white;
}

#logo h1:hover {
  background-color: #4fc67f;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #3a3c42;
  z-index: 10;
}

#menu ul {
  margin: 0;
  display: block;
  float: right;
}

#menu li {
  float: left;
  list-style: none;
  padding: 20px;
  line-height: 2.8em;
}

#menu li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding-bottom: 5px;
}

#menu li a:hover {
  border-bottom: 3px solid #4fc67f;
}

#menuToggle {
  display: none;
}

#hamburger {
  display: none;
}

header {
  width: 100%;
  color: white;
  background-image: url(./img/sample_background3.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: #393b42;
  text-align: center;
  padding: 150px 0;
  margin-top: 80px;
}

header h1 {
  text-align: center;
  font-size: 8em;
  margin: 0;
}

header p {
  font-size: 21px;
  font-weight: 200;
}

img.founders {
  width: 75px;
  border-radius: 50%;
  vertical-align: middle;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 33.333%;
  float: left;
}

#sec-1 {
  background-image: url(./img/icons_bck.png);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #4fc67f;
  color: white;
  width: 100%;
  margin: 0;
  padding: 100px 0;
}

#sec-1 h2 {
  font-size: 1.5em;
}

#sec-1 div {
  margin: 0 auto;
  text-align: center;
}

#sec-1 img {
  height: 60px;
}

#sec-1 p {
  padding: 15px;
  font-size: 1em;
  line-height: 1.5em;
}

.green {
  color: #4fc67f;
}

.button {
  background-color: #4fc67f;
  width: 12em;
  font-size: 1.2em;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  text-decoration: none;
  transition: background-color 0.7s ease;
}

.button a:link,
.button a:visited {
  color: white;
  text-decoration: none;
}
.button:hover {
  text-decoration: none;
  background-color: #3275b1;
}

/*--Abdulrahman End--*/

/*--Burak Start--*/

#wlove {
  width: 100%;
  height: 100%;
  background-color: #f1f4f5;
  padding: 3% 0;
  position: relative; /* added by adlogi to fix the position of div.img */
}

/*-----Upper Part----*/

#htex {
  font-size: 3.75em;
  font-weight: 100;
  margin-bottom: 2%;
}

#htex > span {
  font-weight: bold;
}

.upper > {
  margin-bottom: 6%;
}

.upper p {
  color: rgb(80, 80, 80);
  font-size: 1.31em;
  padding: 0 4%;
}
#csp {
  margin-left: 31%;
}

/*-----Down Part----*/

.down {
  display: flex;
  justify-content: space-between;
}

/*-----Down Left----*/

.text {
  padding: 0;
  margin: 0;
}

.row {
  display: flex;
}

.column {
  width: 200px;
  margin-right: 80px;
}

.column > h5 {
  font-size: 1.5em;
  font-weight: 600;
}

.column > p {
  font-size: 1em;
  color: rgb(80, 80, 80);
  font-weight: 400;
  line-height: 1.75em;
}

#divider {
  border-top: none;
  visibility: hidden;
}

#dividerv {
  border-top: none;
  visibility: hidden;
}

/*-----Down Right----*/

.img {
  position: absolute;
  left: 590px;
  top: 290px;
}

#ipad {
  max-width: 150%;
}
/*--Burak End--*/

/*--Mustafa Start--*/
.img-icon {
  width: 50px;
  height: 50px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
section .flex-container {
  display: flex;
}
.left-side-columns {
  display: flex;
}
.left-side {
  margin-right: 35px;
}
.left-side h1 {
  font-size: 60px;
  margin-bottom: 0;
}
.left-side p {
  color: #505050;
}
.left-side-columns h2 {
  color: #202020;
  font-size: 20px;
  margin-bottom: 0;
}
.right-side h1 span {
  font-weight: lighter;
}
.right-side-cpation {
  background-color: #4fc680;
  display: flex;
  color: #fff;
  width: 75%;
  padding: 10px 30px;
}
.right-side-cpation img {
  width: 150px;
  height: 150px;
}
/*

 */

.meet-the-team {
  padding: 30px 0;
  background-color: #c9e7de;
  text-align: center;
}
.meet-the-team .container {
  width: 75%;
  margin: 0 auto;
}
.meet-the-team h1 {
  font-size: 50px;
  margin-bottom: 0;
  color: #202020;
}
.meet-the-team h1 span {
  font-weight: lighter;
}
.meet-the-team p {
  font-size: 20px;
}

/*--Mustafa End--*/

/*--Oktay Start--*/

.pics {
  background: #333333;
  display: flex;
  justify-content: space-between;
  padding: 3% 0;
  margin: 0;
}

.pics img {
  width: 12.5%;
}

.green-box {
  background: rgb(98, 198, 128);
  padding: 5% 0;
  color: white;
}

.green-box-top {
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 5%;
  margin: 1% auto;
  line-height: 30px;
}

.social {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
.stay-connect {
  width: 50%;
  margin-right: 30%;
}
.green-box-bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 1% auto;
}

.form-box {
  width: 50%;
}
.form-box label {
  width: 100%;
}

.form-box input {
  width: 90%;
  padding: 1.5%;
  margin: 1% 0;
}

.form-box input[id="message"] {
  padding: 10% 0%;
}
.form-box input[type="button"] {
  width: 15%;
  font-size: 26px;
}
.maps-area img {
  padding-bottom: 5%;

  border-bottom: 1px solid white;
}

.maps-area a {
  color: black;
  text-decoration: none;
}

.maps-area p {
  margin: 2% 0;
  line-height: 20px;
}

footer {
  background: #333333;
  padding: 10%;
  color: darkgrey;
  font-size: x-small;
  display: flex;
  justify-content: space-between;
}

footer a {
  color: rgb(98, 198, 128);
  text-decoration: none;
}

.right-area {
  margin-right: 20%;
}
/*--Oktay End--*/

@media only screen and (max-width: 800px) {
  /*--Abdulrahman Start--*/

  #menu {
    display: none;
  }

  #hamburger {
    display: block;
  }

  /* beginning of hamburger menu */
  /* Modified from https://codepen.io/erikterwan/pen/EVzeRP by Erik Terwan */
  #menuToggle {
    display: block;
    float: right;
    position: relative;
    top: 28px;

    z-index: 11;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #3a3c42;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 12;

    -webkit-touch-callout: none;
  }

  /* Just a quick hamburger */
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #4fc67f;
    border-radius: 3px;

    z-index: 11;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  /* Transform all the slices of hamburger into a crossmark. */
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #3a3c42;
  }

  /* But let's hide the middle one. */
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /* Ohyeah and the last one should go the other direction */
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  /* Make this absolute positioned at the top right of the screen */
  #hamburger {
    position: absolute;
    right: -120px;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: white;
    list-style-type: none;
    -webkit-font-smoothing: antialiased; /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #hamburger li a {
    padding: 5px 0;
    line-height: 2.8em;
    font-size: 16px;

    transition: border-bottom 0.3s ease;
  }

  #hamburger li a:hover {
    border-bottom: 3px solid #4fc67f;
  }

  /* And let's slide it in from the right. */
  #menuToggle input:checked ~ ul {
    transform: none;
  }

  /* end of hamburger menu */

  .col {
    width: 100%;
    float: none;
  }

  /*--Abdulrahman End--*/

  /*--Burak Start--*/
  .row {
    flex-direction: column;
    margin-top: 100px;
  }
  .column {
    width: 100%;
  }
  #ipad {
    width: 350px;
  }
  .img {
    position: absolute;
    left: 0;
    top: 350px;
  }

  .down {
    flex-direction: column;
    margin-top: 300px;
  }
  #csp {
    margin-left: 0;
  }

  #divider {
    visibility: visible;
    border-top: 1px solid gray;
  }
  #dividerv {
    visibility: visible;
    border-top: 1px solid gray;
    width: 100%;
    height: 1px;
  }
  /*--Burak End--*/

  /*--Mustafa Start--*/
  section .flex-container,
  .left-side-columns {
    flex-direction: column;
  }
  .left-side h1,
  .meet-the-team h1 {
    font-size: 30px;
  }
  .right-side-cpation {
    margin-bottom: 40px;
  }
  /*--Mustafa End--*/

  /*--Oktay Start--*/
  /*--Oktay End--*/
}
